body{
    background-color: black;
}
#beetleInmainDiv{
    width: 700px;
    height: 500px;
    position: relative;
    /* background-color: purple; */
    overflow: hidden;
}
#beetleInsubDiv{
    width: 650px;
    height: 500px;
    position: relative;
    /* background-color: purple; */
    overflow: hidden;
}
#beetleInmaintextClass1{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.beetleInflex1{
    width:300px;
}
.beetleInflex2{
    position: relative;
    top:25px; 
    right:10px;
    font-size: 17px; 
    width: 700px;
    text-align: justify;
    /* font-family: ; */
}
.beetleIntext1{
    font-size: 13.6px;
    font-weight: bold;
    color: white;
    /* font-family: ; */
}
.beetleIntext2{
    font-weight: bold;
    color: white;
    
}
.beetleIncolorChange1{
    color:#ED1E79;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top:35px;
    /* font-family: ; */
}
.beetleIncolorChange2{
    color:#ED1E79;
    
}
.beetleInImage{
    width: 370px;
    position: absolute;
    left:50%;
    top : 64%;
    transform: translate(-50%,-50%);
    /* height:394px; */
}

#beetleInMap{
    width:200px;
    position: absolute;
    left:70%;
    top : 30%;
}


.beetleInLines{
    width: 153px;
    position: absolute;
    left:49.5%;
    top : 55%;
}
.beetleIntext3{
    font-size:60%;
    color: white;
    position: absolute;
    left:29%;
    top : 81%;
    /* font-family: ; */
}
.beetleIntext4{
    color: white;
    font-size:70%;
    position: absolute;
    left:2%;
    top :65%;
    /* font-family: ; */
}
/* beetle example css */
.beetleRealImage{
    width: 370px;
    position: absolute;
    left:57%;
    top : 55%;
    transform: translate(-50%,-50%);
}