
#beetlemainDiv{
    width: 100% !important;
    height: 1080px !important;
    /* background-color: yellow; */
    position: relative;
    /* background-color: brown; */
    overflow: hidden;
}
#beetlesubDiv{
    width: 1420px;
    height: 1080px;

    position: relative;
    /* background-color: yellow; */
    /* background-color: darkgray; */
    /* margin-top: 5%; */
    /* overflow: hidden; */
}
#Solutions {
    left: 183px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 673px;
    white-space: nowrap;
    text-align: left;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    color: rgba(234,27,117,1);
	}
	#DISCOVERED_BY_AI_ {
		left: 188px;
		top: 304px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
        font-family: 'Avenir-bold', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 37px;
		color: rgba(255,255,255,1);
	}
#beetlemainHeading{
    /* position: absolute;
    width: 370px;
    left: 725px;
    top: 913.01px;
    font-weight: bold; */
}
.beetleh1{
    left: 701px;
    top: 900px;
    position: absolute;
    overflow: visible;
    width: 636px;
    white-space: nowrap;
    text-align: left;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: rgba(234,27,118,1);
    /* font-family: ; */
}
#beetlemaintextClass1{
    display: flex;
    flex-grow: 1;
    /* justify-content: space-around; */
}
.beetleflex1{
    width: 313px;
    position: absolute;
    top: 145.87px;
    left: 274.63px;

}
.beetleflex1 p {
    font-size: 27px !important;
    font-weight: bold;
    color: white;
    width: 320px;

}
.beetleflex2{
    position: absolute;
    top: 208.45px;
    left: 656.47px;
    font-size: 30px;
    width: 856px;
    line-height: 45px !important;
    font-family: 'Avenir-r', sans-serif;


}
.beetletext1{
    left: 701px;
		top: 905px;
		position: absolute;
		overflow: visible;
		width: 408px;
		white-space: nowrap;
		text-align: left;
        font-family: 'Avenir-bold', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
}
.beetletext2{
    /* font-weight: bold; */
    color: white;
    width: 856px;
    
}
.beetlecolorChange1{
    color: #ED1E79;
    font-size: 55px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    line-height: 55px;
    /* top: 35px; */
    margin-top: 10.61px;
}
.beetlecolorChange2{
    color:#ED1E79;
    
}
.bettleImage{
    /* position: absolute;
width: 734px;
left: 554px;
top: 443px; */


    position: absolute;
		width: 711px;
		height: 394px;
		left: 549px;
		top: 527px;
        overflow: visible;
        z-index: 1;

}
#beetle1Ani{
    position: absolute;
		width: 500px;
		height: 500px;
		left: 704px;
		top: 410px;
		overflow: visible;
}
#beetle2Ani{
    width: 400px;
position: absolute;
left: 770px;
top: 370px;

    transition-timing-function: ease-in-out;
}
#beetle3Ani{
    width: 756px;
position: absolute;
top: 243px;
left: 554px;

}
#beetle4Ani{
    width: 750px;
    position: absolute;
    top: 358px;
    left: 550px;
}
#beetle4image{
    width: 750px;
    position: absolute;
    top: 358px;
    left: 550px;
}
#beetlemaintextClass2{
    width: 300px;
    font-size: 20px !important;
    color: #fff;
    position: absolute;
    top: 936px !important;
    left: 707px;
    height: 28px;
}
.beetlecolorChange3{
    color:white;
}
#beetle5Ani{
    position: absolute;
		width: 500px;
		height: 500px;
		left: 704px;
		top: 410px;
		overflow: visible;
}
#beetleButton{
    display: flex;
    /* width: 50px; */
    height: auto;
    /* justify-content: space-evenly; */
    flex-direction: column;
    position: absolute;
    top: 653px;
    right: 190px;
    /* transform: translateY(-50%); */
    /* background-color: #fff; */
    }
#beetleb4{
    width: 57px;
position: absolute;
top: 152px;
/* right: 5%; */
left: 1650px;
        }


#beetleButton img{
    width: 80px;  
}
#beetleButton div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 23px;
}
#beetleButton p{
    font-family: 'Avenir-bold', sans-serif;
    color: #ED1E79;
    margin-right: 10px;
    text-transform: capitalize !important;
     
}
.beetle-gap{
    height: 15px;
    /* background-color: wheat; */
}