body{
    background-color: black;
}
#beetleInmainDiv{
    width: 700px;
    height: 550px !important;
    position: relative;
    /* background-color: yellow; */
    overflow: hidden;
}
#beetleInsubDiv{
    width: 1420px;
    height: 1080px;
    position: relative;
    /* background-color: green; */
    /* margin-top: 5%; */
    /* overflow: hidden; */
}

#beetleInmaintextClass1{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.beetleInflex1{
    position: absolute;
    top: 152px;
    left: 283px;
    width: 320px;
    font-family: 'Avenir-r', sans-serif;



}
.beetleInflex2{
    position: absolute;
width: 836px;
/* text-align: justify; */
font-weight: 500;
/* margin-left: 358px;
margin-top: 27px; */
line-height: 47px;
top: 199px;
left: 667px;
}
.beetleIntext1{
    font-weight: bold;
    color: white;
    font-size: 27px !important;
    width: 350px;
    /* font-family: ; */
}
.beetleIntext2{
    /* font-weight: bold; */
    color: white;
    font-family: 'Avenir-r', sans-serif !important;

}

.beetleIncolorChange2{
    color:#ED1E79;
    
}
#beetleInImage{
    width: 711px;
    position: absolute;
    left: 628px;
    top: 537px;
}
#beetleIn1{
    width: 900px;
position: absolute;
left: 499px;
top: 371px
}

#beetleInMap{
    width: 273px;
    position: absolute;
    left: 1286px;
    top: 415px;
}


.beetleInLines{
    width: 301px;
    position: absolute;
    left: 971px;
    top: 642px;
}
.beetleIntext3{
    color: white;
position: absolute;
left: 728px;
top: 889px !important;
/* width: 505px; */
font-size: 20px !important;
}
.beetleIntext4{
    color: white;
    font-size:70%;
    position: absolute;
    left: 367px;
top: 793px;
    /* font-family: ; */
}
#lifeCycleBeetle{
    width: 374px;
position: absolute;
left: 274px;
top: 443px;
}
#jsonCycleBeetle{
    width: 374px;
position: absolute;
left: 274px;
top: 420px;
}

/* beetle example css */
#beetleInsubDiv1{
    width: 1420px;
    height: 1080px;
    position: relative;
    /* background-color: green; */
    /* margin-top: 5%; */
    /* overflow: hidden; */
}
.beetleRealImage{
    width: 605px;
position: absolute;
left: 668px;
top: 427px;
}


.beetleInflex3{
    position: absolute;
    top:6.5%; 
    left:33%;
    font-size: 17px; 
    width: 390px;
    text-align: justify;
    /* font-family: ; */
}
#beetlerealAni{
    width: 605px;
position: absolute;
left: 668px;
top: 427px;
}
.beetleIncolorChange1{
    color: #ED1E79;
font-size: 55px;
font-weight: bold;
text-align: right;
position: absolute;
top: 35px;
line-height: 60px;
}
.beetleInflex1{
    line-height: 30px;


}