
@font-face {
    font-family: "Avenir";
    src: url("./font/Avenir_Font/Avenir-Book.ttf");
    }
@font-face {
    font-family: "Avenir-bold";
    src: url("./font/Avenir_Font/AvenirLTStd-Black.otf");
    }
@font-face {
    font-family: "Playfair-bold";
    src: url("./font/PlayfairDisplay_Font/PlayfairDisplay-Bold.ttf");
    }
    @font-face {
    font-family: "Playfair-r";
    src: url("./font/PlayfairDisplay_Font/PlayfairDisplay-Regular.ttf");
    }
#shellmainDiv{
    width: 100% !important;
    height: 1080px !important;
    position: relative;
    /* background-color: green; */
    /* margin-top: 5%; */
    overflow: hidden;
    /* background-color: darkgray; */
}
#shellsubDiv{
    width: 1420px;
    height: 1080px;
    position: relative;
    /* background-color: green; */
    /* margin-top: 5%; */
    /* overflow: hidden; */
    /* background-color: darkgray; */
}
#shellmainHeading{
    /* position: absolute;
    width: 600px;
    left: 62%;
    top : 97%;
    transform: translate(-50%,-50%);
    font-weight: bold; */
    
}
.shellh1{
    left: 701px;
		top: 900px;
		position: absolute;
		overflow: visible;
		width: 496px;
		white-space: nowrap;
		text-align: left;
		font-family: Playfair Display;
		font-style: normal;
		font-weight: bold;
		font-size: 90px;
		color: rgba(255,253,0,1);

    /* font-family: ; */
}
#shellmaintextClass1{
    display: flex;
    flex-grow: 1;
    /* justify-content: space-around; */
}
.shellflex1{
    /* width:116%;
    height: 100%; */
}
.shellflex2{
    /* left: 253px; */
		/* top: 186px; */
		position: absolute;
		overflow: visible;
		width: 936px;
		/* white-space: nowrap; */
		/* text-align: right; */
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 700;
		font-size: 55px;
        color: rgba(251,251,3,1);
        left: 660px;
top: 205px;


}
.shelltext1{
    left: 292px;
		top: 152px;
		position: absolute;
		overflow: visible;
		width: 317px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir black;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
}

.shelltext2{
    font-weight: bold;
    color: white;
    
}
.shelltext3{
    left: 701px;
		top: 905px;
		position: absolute;
		overflow: visible;
		width: 437px;
		white-space: nowrap;
		text-align: left;
        font-family: 'Avenir-bold', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);

    /* font-family: ; */
}
.shellcolorChange1{
    left: 253px;
		top: 186px;
		position: absolute;
		overflow: visible;
		width: 356px;
		white-space: nowrap;
		text-align: right;
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 700;
		font-size: 55px;
		color: rgba(251,251,3,1);

    /* font-family: ; */
}
.shellcolorChange2{
    color:#FFFF00;
    
}
#shellmaintextClass2{
    left: 607px;
		top: 941px;
		position: absolute;
		overflow: visible;
		width: 166px;
		white-space: nowrap;
		text-align: left;
        font-family: 'Avenir-bold', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(255,255,255,1);
}
.shellcolorChange3{
    color:white;
    /* font-size: 12px; */
}
.shellImage{
    position: absolute;
		width: 472px;
		height: 358px;
		left: 625px;
		top: 462px;
		overflow: visible;
    z-index: 1;
}
#shell1Ani{
    position: absolute;
		width: 500px;
		height: 500px;
		left: 704px;
		top: 410px;
		overflow: visible;
}
#shell2Ani{
    width:250px;
    position: absolute;
    top:60%;
    left:51%;
    transform: translate(-50%,-50%);
}
#shell3Ani{
    width: 800px;
position: absolute;
top: 69%;
left: 53%;
transform: translate(-50%,-50%);
}
#shell4image{
    position: absolute;
    width: 752.87px;
    height: 434.09px;
    left: 473px;
    top: 403px;
    overflow: visible;
}
#shell4Ani{
    position: absolute;
    width: 752.87px;
    height: 434.09px;
    left: 473px;
    top: 403px;
    overflow: visible;
}
#shell5Ani{
    position: absolute;
		width: 500px;
		height: 500px;
		left: 704px;
		top: 410px;
		overflow: visible;
}
#shellButton{
    display: flex;
    /* width: 50px; */
    height: auto;
    /* justify-content: space-evenly; */
    flex-direction: column;
    position: absolute;
    top: 653px;
    right: 190px;
    }

#shellb4{
    width: 57px;
position: absolute;
top: 188px;
/* right: 5%; */
left: 1650px;
        }
#shellButton img{
    width: 80px;  
}
#shellButton div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 23px;
}
#shellButton p{
    /* font-family: 'Avenir-bold', sans-serif; */
    color: #FFFF00;
    font-family: 'Avenir-bold', sans-serif;
    /* color: #ED1E79; */
    margin-right: 10px;
    text-transform: capitalize !important;
     
}
#Solutions1 {
    left: 183px;
    top: 120px;
    position: absolute;
    overflow: visible;
    width: 673px;
    white-space: nowrap;
    text-align: left;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    color: rgba(255,253,0,1);
}
#DISCOVERED_BY_AI1{
    left: 188px;
    top: 304px;
    position: absolute;
    overflow: visible;
    width: 361px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Avenir-bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    color: rgba(255,255,255,1);
}