body{
    background-color:black;
}
#shellInmainDiv{
    width: 700px;
    height: 500px;
    position: relative;
    /* background-color: purple; */
    overflow: hidden;
}
#shellInsubDiv{
    width: 650px;
    height: 500px;
    position: relative;
    /* background-color: purple; */
    overflow: hidden;
}
#shellInmaintextClass1{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.shellInflex1{
    width:200px;
}
.shellInflex2{
    position: relative;
    top:-5px; 
    left:31%;
    font-size: 17px; 
    width: 450px;
    text-align: justify;
    /* font-family: ; */
}
.shellIntext1{
    font-size: 13.6px;
    font-weight: bold;
    color: white;
    position: relative;
    left:-1%;
    /* font-family: ; */
}

.shellIntext2{
    font-weight: bold;
    color: white;
    
}
.shellIntext3{
    font-size: 13.6px;
    font-weight: bold;
    color: white;
    /* font-family: ; */
}
.shellIncolorChange1{
    color:#FFFF00;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top:35px;
    left: 0%;
    /* font-family: ; */
}
.shellIncolorChange2{
    color:#FFFF00;
    
}
.shellInImage{
    width: 250px;
    position: absolute;
    left:48.5%;
    top : 53%;
    transform: translate(-50%,-50%);
    /* height:394px; */
}
#shellInMap{
    width:200px;
    position: absolute;
    left:70%;
    top : 25%;
}
.shellInLines{
    width: 300px;
    position: absolute;
    left:28.5%;
    top : 75%;
    
}
.shellIntext3{
    font-size:60%;
    color: white;
    position: absolute;
    left:32%;
    top : 81%;
    /* font-family: ; */
}

/* beetle example css */
.shellRealImage{
    width: 370px;
    position: absolute;
    left:59%;
    top : 55%;
    transform: translate(-50%,-50%);
}