body{
    background-color:black;
}
#shellInmainDiv{
    width: 700px;
    height: 550px !important;
    position: relative;
    /* background-color: brown; */
    /* overflow: hidden; */
    
}
#shellInsubDiv{
    width: 1420px;
    height:  1080px;
    position: relative;
    /* background-color: purple; */
    /* overflow: hidden; */
    /* margin-top: 5%; */
    /* background-color: purple; */
}

#shellInmaintextClass1{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.shellInflex1{
    width:200px;
}
.shellInflex2{
    left: 660px;
top: 194px;
		position: absolute;
		overflow: visible;
		width: 950px;
		text-align: left;
        font-family: 'Avenir', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(255,253,0,1);

}

.shellIntext1{
    font-family: 'Avenir-bold', sans-serif;
    left: 261px;
top: 135px;
    position: absolute;
    overflow: visible;
    width: 317px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Avenir-bold', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(255,255,255,1);
}

.shellIntext2{
    font-weight: bold;
    color: white;
    
}


.shellIncolorChange1{
    left: 253px;
		top: 186px;
		position: absolute;
		overflow: visible;
		width: 356px;
		white-space: nowrap;
		text-align: right;
		font-family: Playfair Display;
		font-style: normal;
		font-weight: 700;
		font-size: 55px;
        color: rgba(251,251,3,1);
        line-height: 60px;

    /* font-family: ; */
}
.shellIncolorChange2{
    color:#FFFF00;
    
}
#shellInImage{
    position: absolute;
width: 472px;
height: 358px;
left: 720px;
top: 497px;
    /* height:394px; */
}
#shellIn1{
    width: 993px;
    position: absolute;
    left: 68%;
    top: 61%;
    transform: translate(-50%,-50%);
}
#shellInMap{
    position: absolute;
width: 332.26px;
height: 345.32px;
left: 1243px;
top: 407px;
}
.shellInLines{
    position: absolute;
width: 535.46px;
height: 6.57px;
left: 688px;
top: 917px;
}
    

.shellIntext3{
    left: 728px;
		top: 925px;
		position: absolute;
		overflow: visible;
		width: 452px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir Book Oblique;
		font-style: normal;
		font-weight: normal;
        font-size: 20px;
        left: 728px !important;
		color: rgba(255,255,255,1);

}
#shellInchart{
    width: 231px;
    position: absolute;
    left: 378px;
    top: 442px;
}
/* shell example css */
#shellInsubDiv1{
    width: 1420px;
    height: 1080px;
    position: relative;
    /* background-color: purple; */
    /* overflow: hidden; */
/* margin-top: 5%; */
/* background-color: purple; */
}
#shellRealImage{
    
position: absolute;
width: 650px;
height: 470px;
left: 664px;
top: 401px;


}
.shellIntext4{
    left: 262px;
top: 139px;
		position: absolute;
		overflow: visible;
		width: 317px;
		white-space: nowrap;
		text-align: left;
		font-family: Avenir black;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
        color: rgba(255,255,255,1);
        font-family: 'Avenir-bold', sans-serif;

}
.shellInflex3{
    left: 668px;
		top: 196px;
		position: absolute;
		overflow: visible;
		width: 811px;
		/* white-space: nowrap; */
		text-align: left;
        font-family: 'Avenir-r', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(255,253,0,1);

    /* font-family: ; */
}
#shellrealAni{
    
position: absolute;
width: 650px;
height: 470px;
left: 664px;
top: 401px;


}