
.carousel {
    height: 1080px !important;
    width: 1920px !important;
    /* background-color: grey; */
}
#sliderWrapper{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    /* background-color: white; */
    /* border: 1px solid red; */
}


.slide-btn{
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
    position: absolute;
    z-index: 20;

}
 .slide-pre-btn{
    top: 595px;
left: 472px;

    
 }
 .slide-next-btn{
    top: 595px;
left: 1277px;
 }
.op0{
    opacity: 0 !important;
    transition: 0.3s ease-in;
}
.op1{
    opacity: 1 !important;
    transition: 0.3s ease;
}

.carousel.carousel-slider .carousel-item p {
    font-size: 30px;
}

.nav-btn-item img {
    width: 80px;
}
.nav-btns{
    display: flex;
}